In [1]:
import pandas as pd
import numpy as np
import scipy as sc

In [2]:
sharesOutstanding = pd.read_csv("Shares Outstanding.csv")

In [3]:
sharesOutstanding = sharesOutstanding.iloc[:, 1:]

In [4]:
sharesOutstanding

,A,B,C,D,E,F,G,H,I
0,425000000,246970000,576250000,4230000000,1930000000,3370000000,16320000000,7510000000,508840000

In [5]:
data = pd.read_csv("Acutal Testing Data.csv")

In [6]:
data = data.iloc[:, 1:]

In [7]:
(Datarow, Datacol) = data.shape

In [8]:
#we use an extremely generic split first
Split = (70,30)

In [9]:
#splitting for train test set

train = data[0 : Datarow//10*7]
test = data[Datarow//10*7 : ]

In [10]:
(trainRow, trainCol) = train.shape
(testRow, testCol) = test.shape

In [11]:
prediction_1 = pd.read_csv("Predicted Testing Data Analyst 1.csv")
prediction_2 = pd.read_csv("Predicted Testing Data Analyst 2.csv")
prediction_3 = pd.read_csv("Predicted Testing Data Analyst 3.csv")

In [12]:
prediction_1 = prediction_1.iloc[:, 1:]
prediction_2 = prediction_2.iloc[:, 1:]
prediction_3 = prediction_3.iloc[:, 1:]

In [13]:
prediction_1.head()

,A,B,C,D,E,F,G,H,I
0,151.33428,248.634224,91.98669,129.593431,75.578648,31.268725,217.696233,244.289579,3205.820805
1,151.33428,248.634224,91.98669,129.593431,75.578648,31.268725,217.696233,244.289579,3205.820805
2,151.33428,248.634224,91.98669,129.593431,75.578648,31.268725,217.696233,244.289579,3205.820805
3,151.33428,248.634224,91.98669,129.593431,75.578648,31.268725,217.696233,244.289579,3205.820805
4,151.33428,248.634224,91.98669,129.593431,75.578648,31.268725,217.696233,244.289579,3205.820805

In [14]:
prediction_2.head()

,A,B,C,D,E,F,G,H,I
0,98.188676,257.845717,135.912662,83.509702,123.013243,43.285844,144.913266,351.130035,3888.316207
1,98.188676,257.845717,135.912662,83.509702,123.013243,43.285844,144.913266,351.130035,3888.316207
2,98.188676,257.845717,135.912662,83.509702,123.013243,43.285844,144.913266,351.130035,3888.316207
3,98.188676,257.845717,135.912662,83.509702,123.013243,43.285844,144.913266,351.130035,3888.316207
4,98.188676,257.845717,135.912662,83.509702,123.013243,43.285844,144.913266,351.130035,3888.316207

In [15]:
prediction_3.head()

,A,B,C,D,E,F,G,H,I
0,128.009745,321.469329,205.908514,95.204718,52.061439,39.076679,84.491354,328.813135,2759.588444
1,128.009745,321.469329,205.908514,95.204718,52.061439,39.076679,84.491354,328.813135,2759.588444
2,128.009745,321.469329,205.908514,95.204718,52.061439,39.076679,84.491354,328.813135,2759.588444
3,128.009745,321.469329,205.908514,95.204718,52.061439,39.076679,84.491354,328.813135,2759.588444
4,128.009745,321.469329,205.908514,95.204718,52.061439,39.076679,84.491354,328.813135,2759.588444

In [16]:
train.head()

,A,B,C,D,E,F,G,H,I
0,141.964897,226.352949,146.484337,77.539808,134.944262,32.982797,167.440304,297.091832,3091.003490
1,144.935575,227.882208,145.000811,78.897964,139.777286,33.608131,172.101489,305.086648,3101.989323
2,144.437134,234.666980,149.455145,81.378646,137.287929,33.521216,173.138616,304.388169,3134.173443
3,139.034096,231.480569,146.563009,83.680871,140.464937,32.373154,166.264334,300.779456,3122.525940
4,141.213983,233.275829,147.956318,79.816857,134.809211,31.813596,167.837537,312.957644,3134.811377

In [17]:
#we use the log difference of the return
stockreturn = np.log(train).diff()

In [18]:

stockreturn.head()

,A,B,C,D,E,F,G,H,I
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.020710,0.006733,-0.010179,0.017364,0.035189,0.018782,0.027457,0.026555,0.003548
2,-0.003445,0.029339,0.030257,0.030957,-0.017970,-0.002589,0.006008,-0.002292,0.010322
3,-0.038125,-0.013671,-0.019541,0.027898,0.022878,-0.034849,-0.040514,-0.011926,-0.003723
4,0.015557,0.007726,0.009462,-0.047276,-0.041097,-0.017436,0.009418,0.039691,0.003927

In [19]:
cov_matrix = stockreturn.cov()

In [20]:
cov_matrix

,A,B,C,D,E,F,G,H,I
A,0.000237,0.000138,0.000119,0.000099,0.000116,0.000105,0.000134,0.000120,0.000113
B,0.000138,0.000576,0.000179,0.000165,0.000167,0.000177,0.000236,0.000229,0.000191
C,0.000119,0.000179,0.000343,0.000139,0.000150,0.000148,0.000165,0.000149,0.000123
D,0.000099,0.000165,0.000139,0.000739,0.000513,0.000507,0.000137,0.000106,0.000104
E,0.000116,0.000167,0.000150,0.000513,0.000931,0.000555,0.000157,0.000130,0.000131
F,0.000105,0.000177,0.000148,0.000507,0.000555,0.000885,0.000166,0.000136,0.000124
G,0.000134,0.000236,0.000165,0.000137,0.000157,0.000166,0.000650,0.000272,0.000233
H,0.000120,0.000229,0.000149,0.000106,0.000130,0.000136,0.000272,0.000614,0.000219
I,0.000113,0.000191,0.000123,0.000104,0.000131,0.000124,0.000233,0.000219,0.000571