In [4]:
import pandas as pd
import numpy as np
import scipy as sc

In [5]:
sharesOutstanding = pd.read_csv("Shares Outstanding.csv")

In [9]:
sharesOutstanding

,Unnamed: 0,A,B,C,D,E,F,G,H,I
0,Diluted Shares Outstanding,425000000,246970000,576250000,4230000000,1930000000,3370000000,16320000000,7510000000,508840000

In [12]:
data = pd.read_csv("Acutal Testing Data.csv")

In [13]:
data.head()

,Unnamed: 0,A,B,C,D,E,F,G,H,I
0,0,141.964897,226.352949,146.484337,77.539808,134.944262,32.982797,167.440304,297.091832,3091.003490
1,1,144.935575,227.882208,145.000811,78.897964,139.777286,33.608131,172.101489,305.086648,3101.989323
2,2,144.437134,234.666980,149.455145,81.378646,137.287929,33.521216,173.138616,304.388169,3134.173443
3,3,139.034096,231.480569,146.563009,83.680871,140.464937,32.373154,166.264334,300.779456,3122.525940
4,4,141.213983,233.275829,147.956318,79.816857,134.809211,31.813596,167.837537,312.957644,3134.811377

In [ ]:
prediction_1 = pd.read_csv("Predicted Testing Data Analyst 1.csv")
prediction_2 = pd.read_csv("Predicted Testing Data Analyst 2.csv")
prediction_3 = pd.read_csv("Predicted Testing Data Analyst 3.csv")